<!-- All pages build off of base.html & use static files-->
{% extends "base.html" %}
{% load staticfiles %}

<!--Add title to page-->
{% block title %}Choose-Your-Own-Adventure{% endblock %}

<!--Style elements of page-->
{% block styles %}
<link rel="stylesheet" href="{% static 'styles/index.css' %}">
{% endblock %}

{% block content %}

<!--Content: Welcome, each adventure's title & description-->
<h1>Welcome</h1>
{% for adventure in adventures %}
<a class='btn btn-primary adventure-title' href="{% url 'adventures:adventure' adventure.id %}">{{ adventure.title }}</a>
<p>{{ adventure.description }}</p>
{% endfor %}

{% endblock %}