/* centers button back home */
/* had some difficulties with this: used
https://teamtreehouse.com/community/why-do-you-not-just-use-textalign-center-in-title-instead-of-mainheader
and http://www.w3schools.com/ for reference, eventually asked a friend */
.header-div {
        width: 100%;
        text-align: right;
        margin-top: 20px;
}

/* button colors/aesthetics */
.h-text:link, .h-text:visited{
        background-color: #CA2010;
        color: white;
        margin-right: 10px;
        text-decoration: none;
        padding: 15px 20px;
        font-size: 24px;
}