/* centers button back home */
.header-div {
        width: 100%;
        text-align: right;
        margin-top: 20px;
}

/* button colors/aesthetics */
.h-text:link, .h-text:visited{
        background-color: #CA2010;
        color: white;
        margin-right: 10px;
        text-decoration: none;
        padding: 15px 20px;
        font-size: 24px;
}